.conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    gap:40px;
    margin-left: 200px;
    
  
}

.image{
    width: 240px;
    height: 140px;
    border-radius: 30%;
}

.title{
    margin-top: 140px;
    display: flex;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 0.534);
    margin-left: 200px;
    
}